body {
	width: 100%;
	height:100%;
}


#profile-picture {
	width: 100%;
	margin: 1em;
}


#info {
	text-align: center;
	margin: 1em;
}

.paper {
	width:100%;
}

.contact-type {
	display:inline-block;
	width: 50px;
}

.venue {
	text-align: right;
}
